
$font_family_roboto: 'Roboto', Arial, sans-serif;
$font_size_main_title: 36px;
$font_size_second_title: 30px;
$font_size_main: 18px;
$main_color: #37474f;
$main_bg_color: #F6F6F6;
$breakpoint_query: (xs: 0, xss: 321px, xsm:375px, xsi: 421px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xls: 1366px, xlm: 1441px, xlg: 1601px);
$grid-breakpoints: $breakpoint_query;
